   <br><br><h1 style="text-align: center; color:rgb(3, 59, 41)">CITY HOSPITAL</h1><br><br> <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-4">
                <img [src] = "imageSrc" width="550px" style="broder:solid 1px black; " >
          </div>
          <div class="col-md-6 gx-5 mb-4">
            <h4><strong>Hospital Detalis</strong></h4>
            <b><p class="text-muted">
                A state-of-the art modern facility in the heart , it is
                spread over 10 acres and has a built-up area of over 440000 square feet. Currently the hospital has 300+
                beds with a capacity to expand to 400 beds.
            </p></b>
            <b> <p><strong>What we Focus on?</strong></p></b>
            <b> <p class="text-muted">
                City Hospitals Group.The Hospital focuses on centres of excellence like Cardiac Sciences, Neuro
                Sciences, Orthopaedics including Knee Replacement, Hip Replacement and Spine Surgery,
                Cancer, Emergency Medicine and Solid Organ Transplants besides the complete range of more than 35 allied
                medical disciplines under the same roof.
            </p></b>
          </div>
        </div>
      </section>
    

             