<input type="submit"  (click)="backClicked()"class="submitBtn" value="back">
<div  class="text-justify">
    <u><h3 style="text-align: center;"> View Patient Details</h3></u><br><hr>
    <div>
        <div>
            <label> <b> First Name: </b></label> {{patient.firstName}}
        </div>
        <div>
            <label> <b> Last Name: </b></label> {{patient.lastName}}
        </div>
        <div>
            <label> <b> Date Of Birth: </b></label> {{patient.birthdate}}
        </div>
        <div>
            <label> <b> Gender: </b></label> {{patient. gender}}
        </div>
        <div>
            <label> <b> Email ID: </b></label> {{patient.emailID}}
        </div>
        <div>
            <label> <b> Mobile No: </b></label> {{patient.mobileNo}}
        </div>
        <div>
            <label> <b> Aadhar No: </b></label> {{patient.adharNo}}
        </div>
        <div>
            <label> <b> Blood Group: </b></label> {{patient.bloodGroup}}
        </div>

    </div>
</div>