table {
    border-collapse: collapse;
    width: 100%;
  }

  th{
    background-color: rgb(25, 240, 194);
    color:rgb(6, 3, 3);
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
  }
  
  tr:nth-child(even) {
    background-image: linear-gradient(to right, rgb(32, 241, 185)  , rgb(242, 253, 255));
    
  }