  <!--Section: Content-->
  <hr class="my-5" />

  <!--Section: Content-->
  <section class="text-center">
    <h2 class="mb-5" ><strong>Services</strong></h2>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4" >
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img
                src="https://api.kalpatech.co.in/Rh/Services/1001.png"
                class="heart"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Cardiac Surgery</h5>
                </div>
            </div>
          </div>  

          <div class="col-lg-4 col-md-12 mb-4" >
            <div class="card" >
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="	https://api.kalpatech.co.in/Rh/Services/1006.png"
                  class="img-fluid"
                />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Psychiatry & Counselling Services</h5>
              </div>
            </div>
          </div>

          
          <div class="col-lg-4 col-md-12 mb-4" >
            <div class="card" >
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="	https://api.kalpatech.co.in/Rh/Services/1009.png"
                  class="img-fluid"
                />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">ENT and Head & Neck Surgery</h5>
              </div>
            </div>
          </div>

          
          
          <div class="col-lg-4 col-md-12 mb-4" >
            <div class="card" >
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="	https://api.kalpatech.co.in/Rh/Services/1014.png"
                  class="img-fluid"
                />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Emergency Medicine</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 mb-4" >
            <div class="card" >
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="	https://api.kalpatech.co.in/Rh/Services/1015.png"
                  class="img-fluid"
                />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">General Medicine</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 mb-4" >
            <div class="card" >
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="	https://api.kalpatech.co.in/Rh/Services/1005.png"
                  class="img-fluid"
                />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Clinical Imaging & Interventional Radiology</h5>
              </div>
            </div>
          </div>
