<!-- <div class="row">
    <div class="col-lg-4 col-md-12 mb-4">
        <div class="wrapper" style="text-align: center; ">
            <u>
                <h2 style="text-align: center;"> Contact Address </h2>
            </u><br>
            <div class="form">
                <ul class="list-inline top-v1-contacts">
                    <li>
                        <i class="fa fa-envelope"></i> Email: cityhospital@gmail.com
                    </li>
                    <li>
                        <i class="fa fa-phone"></i> Contact no : 01234 56789
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 mb-4" style="border: solid black 1px; background-color: aqua;">
        <div class="card">
            <h2 class="modal-title" ><strong>Emergency Request</strong></h2>
            <hr>
            <div class="modal-body">
                <a class="p1-1" href="callto:01234 56789">
                    <i class="" fa fa-phone></i>
                    "Delhi : 01234 56789"
                </a><br>
                <form>
                    <div class="from-group">
                        <label>Contact Number : </label>
                        <input tupe="text" id="contact">
                    </div><br>
                    <div class="from-group">
                        <select id="requestType" required class="p-2 m1-0 border brd emergengy-select-border">
                            <option value disable selected>Select</option>
                            <option value="Ambulance">Ambulance</option>
                            <option valude="Emergency">Emergency Care</option>
                            <option calude="VideoConsultation">Video Consulation</option>
                            <option value="Other">Others</option>
                        </select>
                    </div><br>
                    <div class="from-group">
                        <label for="text-messgae">Message:</label>
                        <textarea name="emergencymessage" id="emergencymessage"></textarea>
                    </div>
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div> -->
<section class="ftco-section">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
    <h2 class="heading-section">Contact Us </h2>
    </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-md-12">
    <div class="wrapper">
    <div class="row mb-5">
    <div class="col-md-3">
    <div class="dbox w-100 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
    <span class="fa fa-map-marker"></span>
    </div>
    <div class="text">
    <p><span>Address:</span> cityhospital,india...</p>
    </div>
    </div>
    </div>
    <div class="col-md-3">
    <div class="dbox w-100 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
    <span class="fa fa-phone"></span>
    </div>
    <div class="text">
    <p><span>Phone:</span> <a href="tel://1234567920">+ 01234 56789</a></p>
    </div>
    </div>
    </div>
    <div class="col-md-3">
    <div class="dbox w-100 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
    <span class="fa fa-paper-plane"></span>
    </div>
    <div class="text">
    <p><span>Email:</span> <a href="hospital@gmail.com"><span class="__cf_email__" data-cfemail="e68f888089a69f899394958f9283c885898b">[hospital@gmail.com]</span></a></p>
    </div>
    </div>
    </div>
    <div class="col-md-3">
    <div class="dbox w-100 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
    <span class="fa fa-globe"></span>
    </div>
    <div class="text">
    <p><span>Website</span> <a href="http://localhost:4200/homepage">yoursite.com</a></p>
    </div>
    </div>
    </div>
    </div>
    <div class="row no-gutters">
    <div class="col-md-7">
    <div class="contact-wrap w-100 p-md-5 p-4">
    <h3 class="mb-4">Contact Form</h3>
    <div id="form-message-warning" class="mb-4"></div>
    <form method="POST" id="contactForm" name="contactForm" class="contactForm">
    <div class="row">
    <div class="col-md-6">
    <div class="form-group">
    <label class="label" for="name">Full Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <label class="label" for="email">Email Address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
    <label class="label" for="subject">Subject</label>
    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
    <label class="label" for="#">Message</label>
    <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
    <input type="submit" value="Send Message" class="btn btn-primary">
    <div class="submitting"></div>
    </div>
    </div>
    </div>
    </form>
    </div>
    </div>
    <div class="col-md-5 d-flex align-items-stretch">
    <div class="info-wrap w-100 p-5 ">
        <img [src] = "imageSrc" width="500px" >
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
